[Desktop Entry]
Hidden=false
X-Enlightenment-Directory-Overlay=/media/psf/Home/Prosoma/PenseFaca/objectiveweb/console/libs/elrte/css/elrte-inner.css
Type=Directory
NoDisplay=false
Version=1.0
Name=Directory look and feel
Name[en_US]=Directory look and feel
